<h1> Lista de Herois</h1>
<hr> 

<div class="row">
    <div class="col text-right">
     <button class="btn btn-primary" routerLink="/heroi/novo">
        <i class="fa fa-plus"></i>
        Adicionar
     </button>
    </div>
</div>

<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Poder</th>
      <th scope="col">Vivo</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    
   
  </tbody>
</table>

<div class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">Nao ha registro</h4>
     <p>
         <i class="fa fa-exclamation fa-3x"></i>
     </p>

</div>

<div class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Carregando</h4>
     <p>
         <i class="fa fa-spinner fa-spin fa-3x"></i>
     </p>
     <p class="mb-0">
       Espere por favor
     </p>
</div>